<nav class="navbar bg-dark navbar-expand-lg sticky-top" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="#">LOL Item Generator</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" routerLink="champions" routerLinkActive="active">Champions</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="items" routerLinkActive="active">Items</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="build" routerLinkActive="active">Build</a></li>
      </ul>
    </div>
  </div>
</nav>
