<div class="container-fluid vh-100">
  <div class="row h-100">

    <!-- Bal oldal: Champions + Items -->
    <div class="col-md-6 d-flex flex-column border-end h-100">

      <!-- Champions -->
      <div style="height: 45%;">
        <app-champion-list></app-champion-list>
      </div>

      <!-- Items -->
      <div style="height: 45%;" class="p-2">
        <app-item-list></app-item-list>
      </div>

    </div>

    <!-- Jobb oldal: Build Display + Saved Builds -->
    <div class="col-md-6 d-flex flex-column p-4 h-100">

      <!-- Build Display -->
      <div style="height: 45%;">
        <app-build-display #buildDisplay></app-build-display>
      </div>

      <!-- Saved Builds -->
      <div style="height: 45%;">
        <app-saved-builds (editBuildEvent)="buildDisplay.loadBuild($event.build)"></app-saved-builds>
      </div>

    </div>

  </div>
</div>
