<div class="d-flex align-items-center justify-content-between py-1 mb-2 px-1">
  <h5 class="mb-0">Champions</h5>

  <input type="text"
         class="form-control form-control-sm w-auto"
         style="max-width: 140px;"
         placeholder="Search champions..."
         [(ngModel)]="searchText">

</div>
<div class="d-flex flex-column h-100">
  <div class="d-flex flex-wrap overflow-auto" style="height: calc(100% - 40px);">

    @for (champ of filteredChampions(); track champ.id) {
      <div class="p-1" style="flex: 0 0 auto; width: 100px;">
        <div class="card text-center" [appTooltip]="champ.name" draggable="true" (dragstart)="onDragStartChampion($event, champ)">
          <img [src]="'http://localhost:8081/' + champ.imageUrl"
               class="card-img-top img-fluid"
               alt="{{champ.name}}"
               style="height: 50px; object-fit: contain;">
          <div class="card-body p-1">
            <small class="d-block text-truncate">{{ champ.name }}</small>
          </div>
        </div>
      </div>
    }
  </div>
</div>

