server.port: 8081
server.address: 0.0.0.0
spring:
  jackson.serialization.indent-output: true
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    generate-ddl: true
  h2.console:
    enabled: true
    path: /dba